<div class="homeContainer">
  <h1>Herzlich Willkommen auf dieser Webseite, Schalom!
    <br>Was erwartet uns hier?
  </h1>

  <h1>Bibel-Texte des TaNa'Ch</h1>
  <p>in hebräischem Urtext mit 3 deutschen Übersetzungen:
    Elberfelder, Martin Buber / Franz Rosenzweig, TurSinaj
  </p>

  <br><h1 style="text-align: center;">Die Evangelien im jüdisch-hebräischen Kontext und
    <br>Jeschuas öffentlicher Dienst im chronologischen Zeitablauf
    von einem Jahr bzw. 70 Wochen
  </h1>

  <p style="text-align: center; margin-top: -16px;">Nach<b>Michael Rood</b> übersetzt aus dem Englischen, aber noch erweitert ausgearbeitet:
    <br>in Anlehnung zur hebräischen Übersetzung von<b>Isaac Salkinson</b>.</p>

  <p style="text-align: center;">Die Evangelien in hebräisch (Isaac Salkinson) und eine deutsche, überarbeitete Übersetzung in heutigem deutsche
    <br>mit vielen Anlehnungen zum Hebräisch und den Zeitangaben nach Michael Roods Chronologie zum biblischen Kalender
    über den einzelnen Ereignissen eingearbeitet; und viele zusätzliche
    <br>Kommentare nach den neusten Erkenntnissen.
  </p>

  
</div>
